asgiref
dj-database-url
Django
django-cors-headers
django-filter
django-rest-multiple-models
djangorestframework
djangorestframework-simplejwt
importlib-metadata
Markdown
Pillow
psycopg
psycopg-binary
psycopg2
psycopg2-binary
PyJWT==1.7.1
pytz
sqlparse
typing_extensions
zipp